h1{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.banner{
    font-style: oblique;
}

h2{
  font-family: sans-serif,Arial, Helvetica, sans-serif;
    text-align: center
}
#master{
  float: right;
}

.body{
    font-size: 20px;
    margin: auto;
}
.staff{
  text-align: center;
}
.footer{
  background-color: #49ee21;
  height: 250px;
}

.responsive{
  width: 100%;
  height: auto;
}
#logo{
  float: left;

}
#slogan{
  text-align: center;
  font-style: oblique;
  font-size: 50px;
}

/* slideshow */
.mySlides {display:none;}

#How{
  text-align: center;
  font-family: sans-serif,Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}







/* nav bar */
body {
    margin: 0;
    font-size: 28px;
  }
  
  .header {
    background-color: black;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #49ee21;
    border-color: black;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: rgb(9, 109, 175);
    color: black;
  }
  
  #navbar a.active {
   color:black;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  /* icons */
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-yahoo {
  background: #430297;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
