body{
    font-size: 20px;
}
.titles{
    font-weight: bold;
}
h1{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-style: oblique;
}
#logo{
    float: left;
}
/* nav bar */
body{
    margin: 0;
}
  
  .header {
    background-color: black;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #49ee21;
    border-color: black;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: rgb(9, 109, 175);
    color: black;
  }
  
  #navbar a.active {

    color:black;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }